:root {
    --main-bg-color: #ede9fe;
    --secondary-color: #6d28d9;
    --text-color: white;
    --hover-color: #4c1d95;
    --search-field-outline: #a78bfa;
    --label-stripe: #4c1d95;
    --card-hover-color: #f6f5fc;
    --grey-text: #787878;
  }

body {
    overflow: auto;
    display: grid;
    grid-template: 1fr / 1fr 4.8fr;
    margin: 0;
    padding: 0;
    font-family: Kanit, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: var(--text-color);
}

#sidebar {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 3%;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

#logodiv {
    font-size: 1.8rem;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    align-items: center;
    justify-content: left;
    padding: 1rem 2rem 1rem 0.8rem; 
    font-weight: 600;
    letter-spacing: 0.15rem;
    cursor: pointer;
    gap: 0.25rem;
}

.sidebarcontentdiv {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    align-items: center;
    justify-content: left;

}

.sidebarcontent {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    align-items: center;
    justify-content: left;
    font-size: 1.4rem;
    padding: 0.6rem 0.8rem;
}

.sidebarcontent:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

#logoicon {
    height: 2.7rem;
    margin: auto;
}

.sidebaricon, .icon {
    height: 2rem;
    margin: auto;
}

#maindiv {
    display: grid;
    grid-template: 1fr 6fr / 1fr;
}

#header {
    box-shadow: 0 0 10px var(--secondary-color);
    padding: 1rem 4rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#topbar, #bottombar {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.3rem;
}

#searchbar {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 2rem;
    padding: 0 1.5rem;
    font-family: inherit;
    height: 2rem;
    width: 25vw;
}

#searchbar:focus {
    outline: none !important;
    border: 2px solid var(--search-field-outline);
    box-shadow: 0 0 5px var(--search-field-outline);
}

.profile_photo, .trendingphoto {
    border-radius: 50%;
    height: 3.5rem;
    cursor: pointer;
}

.profile_photo_large {
    border-radius: 50%;
    height: 4.5rem;
    cursor: pointer;
}

button {
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    padding: 0.75rem 2.5rem;
    border-radius: 2rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
}

button:hover {
    background-color: var(--hover-color);
}

#greeting {
    line-height: 120%;
}

.small {
    font-size: 1rem;
}

.large {
    font-size: 1.7rem;
}

#content {
    display: grid;
    grid-template: auto / 3fr 1fr;
    color: black;
    padding: 2rem 2rem 2rem 1rem;
    gap: 2rem;
    overflow: auto;
    background-color: var(--main-bg-color);
}

#projects {
    display: flex;
    flex-direction: column;
}

#rightbar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#announcements, #trending {
    display: flex;
    flex-direction: column;
}

#announcementcontainer, #trendingcontainer {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px lightgray;
    overflow: hidden;
}

.headertext {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

#cardcontainer {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 2rem;
}

.projectcard {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px lightgray;
    display: grid;
    grid-template: 3fr 1fr / 1fr 39fr;
    gap: 1rem;
}

.projectcard:hover {
    background-color: var(--card-hover-color);
}

.labelstripe {
    background-color: var(--label-stripe);
    grid-area: 1 / 1 / span 2 / 1;
    border-radius: 1rem 0 0 1rem;
}

.iconstripe {
    padding: 0 1rem 1rem 0;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.5rem;
}

.iconstripe img {
    height: 2rem;
    cursor: pointer;
}

.projectcontent {
    color: var(--grey-text);
    padding-right: 1rem;
    margin: 0;
}

.projectcontent p:first-child {
    color: black;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.announcement {
    border-bottom: 1px solid var(--grey-text);
    padding: 1.5rem;
}

.announcement:hover {
    background-color: var(--card-hover-color);
}

.announcement:last-child {
    border-bottom: none;
}

.announcement, .announcement p {
    color: var(--grey-text);
    margin: 0;
}

.announcement p:first-child {
    color: black;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.trendingitem {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.trendingitem:hover {
    background-color: var(--card-hover-color);
}

.trendingtext p{
    font-weight: 300;
    line-height: 1.2rem;
    color: var(--grey-text);
    margin: 0;
}

.trendingtext p:first-child {
    color: black;
}