:root {
    --main-bg-color: #ede9fe;
    --secondary-color: #6d28d9;
    --text-color: white;
    --hover-color: #4c1d95;
    --search-field-outline: #a78bfa;
  }

body {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    margin: 0;
    padding: 0;
    font-family: Kanit, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: var(--text-color);
}

#sidebar {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#logodiv {
    font-size: 2rem;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    align-items: center;
    justify-content: left;
    padding: 1rem 2rem 1rem 1rem; 
    font-weight: 500;
}

.sidebarcontentdiv {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    align-items: center;
    justify-content: left;

}

.sidebarcontent {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    align-items: center;
    justify-content: left;
    font-size: 1.4rem;
    padding: 1rem;
}

.sidebarcontent:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

#logoicon {
    height: 3.5rem;
    margin: auto;
}

.sidebaricon, .icon {
    height: 2rem;
    margin: auto;
}

#maindiv {
    display: grid;
    grid-template: 1fr 6fr / 1fr;
}

#header {
    box-shadow: 0 0 10px var(--secondary-color);
    padding: 1rem 4rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#topbar, #bottombar {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.3rem;
}

#content {
    background-color: var(--main-bg-color);
}

#searchbar {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 2rem;
    padding: 0 2rem;
    font-family: inherit;
    height: 2rem;
    width: 80%;
}

#searchbar:focus {
    outline: none !important;
    border: 2px solid var(--search-field-outline);
    box-shadow: 0 0 5px var(--search-field-outline);
}

.profile_photo {
    border-radius: 50%;
    height: 3rem;
    cursor: pointer;
}

.profile_photo_large {
    border-radius: 50%;
    height: 4.5rem;
    cursor: pointer;
}

button {
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
}

button:hover {
    background-color: var(--hover-color);
}

#greeting {
    line-height: 120%;
}

.small {
    font-size: 1rem;
}

.large {
    font-size: 1.7rem;
}

#content {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    color: black;
    padding: 2rem 1rem;
}

#projects {
    grid-area: 1 / 1 / span 2 / 1;
    display: flex;
    flex-direction: column;
}

.headertext {
    font-size: 1.5rem;
}

#cardcontainer {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 2rem;
}

.projectcard {
    background-color: white;
}